.Game {

    display: flex;
    margin-left: 50px;
}

.Title {
    margin-left: 460px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    font-style: oblique;
}

.Announcement {
    margin-left: 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-style: oblique;
}